.calculator-bg{
  background-color: hotpink;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    width: 300px;
    margin: 50px auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.display {
    grid-column: span 4;
    text-align: right;
    background-color: whitesmoke;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.btn {
    background-color: blanchedalmond;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
}

.btn:hover {
    background-color: pink;
}
